.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  background-color: #11005c;
  border: none;
  display: flex;
  align-items: center;
}

.home {
  margin: 10px;
  text-decoration: none;
}

.movies {
  margin: 10px;
  text-decoration: none;
}
